/* src/assets/fonts/fonts.css */

@font-face {
  font-family: "peyda";
  src: url("./Peyda/eot/PeydaWeb-Medium.eot");
  src: url("./Peyda/eot/PeydaWeb-Medium.eot?#iefix") format("embedded-opentype"),
    url("./Peyda/woff2/PeydaWeb-Medium.woff2") format("woff2"),
    url("./Peyda/woff/PeydaWeb-Medium.woff") format("woff");

  font-weight: normal;
  font-style: normal;
}
